<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="loginFormContent col-md-8 col-lg-5 col-xl-5 offset-xl-1">
        <form [formGroup]="loginpage">
          <div class="text-center"><h5>Login....</h5></div>
          <!-- Email input -->
          <div class="form-outline mb-4">
            <input
              type="email"
              id="form3Example3"
              formControlName="UserName"
              class="form-control form-control-lg"
              placeholder="User Name"
            />
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <input
              type="password"
              id="form3Example4"
              formControlName="Password"
              class="form-control form-control-lg"
              placeholder="Enter password"
            />
          </div>

          <!-- Login Button -->
          <div class="text-end mt-4 pt-2 p-4">
            <button
              type="button"
              class="btn btn-primary btn-lg"
              (click)="Login()"
            >
              Login
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
