<!-- Main card => 100vh scrollable start -->
<div class="view-wrapper">
  <!-- =============================Filter Params============================= -->
  <div class="ExportDiv1">
    <div class="mainDiv mb-1 p-0 m-0">
      <!-- First Group -->
      <div class="row mt-1 mb-1 m-0 p-1">
        <div class="col-11">
          <dx-drop-down-box
            class="dropdowncontent"
            labelMode="floating"
            labelLocation="left"
            label="Facility value"
            [(value)]="facilityvalue"
            valueExpr="ID"
            displayExpr="Name"
            [showClearButton]="true"
            [dataSource]="modifiedFacilityDatasource"
            [dropDownOptions]="{
              width: '70%',
              height: '45vh',
              position: {
                my: 'left top',
                at: 'left bottom',
                of: '.dropdowncontent',
                collision: 'fit flip'
              }
            }"
          >
            <div c *dxTemplate="let data of 'content'">
              <dx-data-grid
                [dataSource]="modifiedFacilityDatasource"
                [columns]="[
                  { dataField: 'ID', caption: 'Facility ID', width: 'auto' },
                    {
                      dataField: 'ShortName',
                      caption: 'Short Name',
                    },
                    {
                      dataField: 'Name',
                      caption: 'FacilityName',
                    },
                    { dataField: 'Region', caption: 'Region', width: 'auto' },
                    {
                      dataField: 'ProviderType',
                      caption: 'Provider Type',
                      width: 'auto'
                    }
                ]"
                [selection]="{ mode: 'multiple' }"
                [hoverStateEnabled]="true"
                [paging]="{ enabled: true, pageSize: 10 }"
                [filterRow]="{ visible: true }"
                [headerFilter]="{ visible: true }"
                [scrolling]="{ mode: 'virtual' }"
                [(selectedRowKeys)]="facilityvalue"
                (onSelectionChanged)="
                  onSelectionChanged(
                    $event,
                    this.FacilityDataSource,
                    'modifiedFacilityDatasource'
                  )
                "
                width="'50%'"
                [height]="'100%'"
              >
              </dx-data-grid>
            </div>
          </dx-drop-down-box>
        </div>
        <div class="col-1">
          <dx-button
            class="add-card mt-2"
            icon="refresh"
            text="Apply"
            type="success"
            stylingMode="contained"
            (click)="applyButtonClicked()"
          ></dx-button>
        </div>
      </div>

      <!-- Wrapper for Second and Third Rows -->
      <div class="p-0 m-0" *ngIf="showGroups" @toggleRows>
        <!-- Second Group -->
        <div class="row ms-1 m-0 p-1">
          <div class="col-2">
            <dx-form [formData]="dateForm" [labelMode]="'floating'">
              <dxi-item
                dataField="fromdate"
                editorType="dxDateBox"
                [editorOptions]="{
                  applyValueMode: 'instantly',
                  displayFormat: 'dd/MM/yyyy',
                  valueFormat: 'yyyy/MM/dd',

                }"
              >
                <dxo-label text="From Date"></dxo-label>
              </dxi-item>
            </dx-form>
          </div>

          <div class="col-2">
            <dx-form [formData]="dateForm" [labelMode]="'floating'">
              <dxi-item
                editorType="dxDateBox"
                dataField="todate"
                [editorOptions]="{
                  applyValueMode: 'instantly',
                  displayFormat: 'dd/MM/yyyy',
                  valueFormat: 'yyyy/MM/dd',

                }"
              >
                <dxo-label text="To Date"></dxo-label>
              </dxi-item>
            </dx-form>
          </div>

          <div class="col-4">
            <dx-tag-box
              [searchEnabled]="true"
              [dropDownOptions]="{ height: 250 }"
              [items]="DepartmentDatasource"
              displayExpr="Name"
              valueExpr="ID"
              [(value)]="Departmentvalue"
              [showSelectionControls]="true"
              [multiline]="false"
              applyValueMode="instantly"
              label="Department"
              labelMode="floating"
              (onValueChanged)="
                reorderDataSource('Departmentvalue', 'DepartmentDatasource')
              "
            >
            </dx-tag-box>
          </div>

          <div class="col-3">
            <dx-tag-box
              [searchEnabled]="true"
              [dropDownOptions]="{ height: 250 }"
              [items]="ServiceCategoryDatasource"
              [(value)]="servicecategoryvalue"
              displayExpr="Name"
              valueExpr="ID"
              [showSelectionControls]="true"
              [multiline]="false"
              applyValueMode="instantly"
              label="Service Category"
              labelMode="floating"
              [searchEnabled]="true"
              (onValueChanged)="
                reorderDataSource(
                  'encountertypevalue',
                  'EncountrTypeDatasource'
                )
              "
            >
            </dx-tag-box>
          </div>

          <div class="col-1 me-2">
            <dx-button
              class="mt-2"
              icon="exportpdf"
              text="export"
              hint="export"
              type="default"
              [width]="'auto'"
              (onClick)="export()"
            >
            </dx-button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- =============================Card data Div============================= -->
  <div class="graph-scroll-container">
    <div class="ExportDiv2">
      <!-- ====================================Graph Loading==================== -->
      <div class="graphContainer">
        <div
          class="cardDataDiv row ms-1 me-1 d-flex flex-nowrap gap-2 justify-content-start overflow-auto"
        >
          <div
            class="card col-12 col-md-2 col-lg-2 col-sm-6 claimedCard p-0 m-0"
          >
            <div
              class="card-body d-flex flex-column justify-content-center text-center"
            >
              <p class="card-text mt-3">Total Request Sent</p>
              <!-- Title at the top -->
              <p
                class="mb-2 card-text flex-grow-1 d-flex justify-content-center"
              >
                {{ ReguestSendCardValue }}
              </p>
              <!-- Value centered -->
            </div>
          </div>
        </div>
      </div>

      <div class="graphContainer">
        <div class="d-flex gap-1">
          <div class="ChartContent">
            <dx-chart
              [size]="chartSize"
              (onInitialized)="onChartInitialized($event)"
              id="chart"
              [dataSource]="mainSeriesChartDatasource"
            >
              <dxo-title text="Prior Analysis" hint=""></dxo-title>
              <dxi-series
                valueField="FullyApproved"
                name="FullyApproved"
              ></dxi-series>
              <dxi-series
                valueField="PartiallyApproved"
                name="PartiallyApproved"
              ></dxi-series>
              <dxi-series
                valueField="FullyRejected"
                name="FullyRejected"
              ></dxi-series>
              <dxi-series
                valueField="InProgress"
                name="InProgress"
              ></dxi-series>
              <dxi-series valueField="Cancelled" name="Cancelled"></dxi-series>
              <dxo-common-series-settings
                argumentField="EncounterType"
                type="bar"
                hoverMode="allArgumentPoints"
                selectionMode="allArgumentPoints"
              >
                <dxo-label
                  [visible]="true"
                  [backgroundColor]="'transparent'"
                  [border]="{ visible: false, color: '#294730', width: 1 }"
                  [font]="{ color: 'var(--text-color)', weight: 600, size: 14 }"
                  [customizeText]="customizeChartLabelText"
                >
                </dxo-label>
              </dxo-common-series-settings>
              <dxo-legend
                verticalAlignment="bottom"
                horizontalAlignment="center"
              >
              </dxo-legend>
              <dxo-export [enabled]="false"></dxo-export>
            </dx-chart>
          </div>
        </div>
      </div>

      <div class="graphContainer">
        <div class="d-flex gap-1 p-0 m-0">
          <div class="ChartContent text-center">
            <dx-pie-chart
              id="pie"
              palette="bright"
              class="pb-3"
              [dataSource]="pieChartDatasource"
            >
              <dxo-title text="Service Wise Authorized" hint=""></dxo-title>
              <dxo-legend
                orientation="horizontal"
                itemTextPosition="right"
                horizontalAlignment="center"
                verticalAlignment="bottom"
                [columnCount]="4"
              ></dxo-legend>
              <dxi-series argumentField="Service" valueField="Count">
                <dxo-label
                  [visible]="true"
                  position="columns"
                  [customizeText]="customizeLabel"
                >
                  <dxo-font [size]="16"></dxo-font>
                  <dxo-connector [visible]="true" [width]="0.5"></dxo-connector>
                </dxo-label>
              </dxi-series>
            </dx-pie-chart>
          </div>
          <div class="ChartContent text-center">
            <dx-chart id="chart" [dataSource]="TaTstatusDataSource" class="pb-3">
              <dxo-title text="TAT Status" hint=""></dxo-title>
              <dxi-series
                argumentField="TAT"
                valueField="Count"
                name="TAT Delay"
                type="bar"
                color="#8a1253"
              >
                <dxo-label
                  [visible]="true"
                  [position]="'outside'"
                  [backgroundColor]="'transparent'"
                  [border]="{ visible: false, color: '#294730', width: 1 }"
                  [font]="{ color: 'var(--text-color)', weight: 600, size: 14 }"
                  [customizeText]="customizeLabelText"
                >
                </dxo-label>
              </dxi-series>
              <dxo-legend
                [visible]="true"
                verticalAlignment="bottom"
                horizontalAlignment="center"
              ></dxo-legend>
            </dx-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<dx-load-panel
  *ngIf="loadingVisible"
  #loadPanel
  shadingColor="rgba(0,0,0,0.4)"
  [position]="{ of: '#graph-scroll-container' }"
  [(visible)]="loadingVisible"
  [showIndicator]="true"
  [showPane]="true"
  [shading]="true"
  [hideOnOutsideClick]="false"
>
</dx-load-panel>
