<!-- main card => 100vh scrollable start -->
<div class="dx-card dx-scroll-card cardtitle">
  <div *ngIf="!isLoggedIn2" class="d-flex align-items-center pe-5">
    <dx-button
      class="ms-auto me-1"
      icon="export"
      text="Export"
      type="default"
      [width]="'auto'"
      [visible]="vibleExportBtn"
      (onClick)="export()"
    >
    </dx-button>
  </div>
  <div class="dx-fieldset-header FieldHeader">
    Balance Amount to Be Received
  </div>
  <div class="parentDiv">
    <!-- 1st row =>  start -->
    <div class="grid-container">
      <!-- Left panel content start-->
      <div class="left-panel">
        <div class="form formcenter" *ngIf="isLoggedIn2">
          <div class="indicators">
            <dx-load-indicator
              id="large-indicator"
              height="60"
              width="60"
            ></dx-load-indicator>
          </div>
        </div>
        <!-- 1st content------start -->
        <div class="" *ngIf="!isLoggedIn2">
          <dx-chart
            id="chart"
            title="Receiver-Wise"
            [dataSource]="dataSource"
            (onPointClick)="onPointClick_First_Graph($event)"
            palette="soft"
          >
            <dxi-series
              valueField="Amount"
              name="Receiver"
              color="#9bf6ff"
            ></dxi-series>
            <dxi-value-axis position="left">
              <dxo-title text="Amount"></dxo-title>
            </dxi-value-axis>
            <dxo-common-series-settings
              argumentField="ReceiverID"
              type="stackedBar"
            >
            </dxo-common-series-settings>
            <dxo-legend
              verticalAlignment="bottom"
              horizontalAlignment="center"
              itemTextPosition="top"
            >
            </dxo-legend>
            <!-- <dxo-export [enabled]="true"></dxo-export> -->
            <dxo-tooltip
              [enabled]="true"
              location="edge"
              [customizeTooltip]="customizeTooltipReceiver"
            >
            </dxo-tooltip>
          </dx-chart>
        </div>
        <!-- 1st content------end -->
      </div>
      <!-- Left panel content end-->

      <!-- Right panel content start-->

      <div class="right-panel">
        <div class="form formcenter" *ngIf="isLoggedIn2">
          <div class="indicators">
            <dx-load-indicator
              id="large-indicator"
              height="60"
              width="60"
            ></dx-load-indicator>
          </div>
        </div>

        <!-- 2nd content------start -->
        <div class="pe-2" *ngIf="!isLoggedIn2">
          <dx-chart
            id="chart"
            [dataSource]="dataSource1"
            title="Clinician-Wise"
            (onPointClick)="onPointClick_Second_Graph($event)"
            palette="soft"
          >
            <dxi-series
              valueField="Amount"
              name="Clinician"
              color="#caffbf"
            ></dxi-series>
            <dxi-value-axis position="left">
              <dxo-title text="Amount"></dxo-title>
            </dxi-value-axis>
            <dxo-common-series-settings
              argumentField="ClinicianID"
              type="stackedBar"
            >
              <dxo-label [rotationAngle]="90" alignment="center"></dxo-label>
            </dxo-common-series-settings>
            <dxo-legend
              verticalAlignment="bottom"
              horizontalAlignment="center"
              itemTextPosition="top"
            >
            </dxo-legend>
            <!-- <dxo-export [enabled]="true"></dxo-export> -->
            <dxo-tooltip
              [enabled]="true"
              location="edge"
              [customizeTooltip]="customizeTooltipClinician"
            >
            </dxo-tooltip>
          </dx-chart>
        </div>
        <!-- 2nd content------end -->
      </div>
      <!-- Right panel content end -->
    </div>
    <!-- 1st row =>  end-->

    <div class="grid-container">
      <!-- Right panel content start-->

      <div class="right-panel formcenter">
        <div class="form formcenter" *ngIf="isLoggedIn2">
          <div class="indicators">
            <dx-load-indicator
              id="large-indicator"
              height="60"
              width="60"
            ></dx-load-indicator>
          </div>
        </div>

        <!-- 3rd content------start -->

        <div class="pies-container formcenter" *ngIf="!isLoggedIn2">
          <dx-pie-chart
            [title]="Pie_Chart_title"
            (onPointClick)="onPointClick1($event)"
            [palette]="Pie_Chart_palette"
            [dataSource]="PieChart_DataSource"
            sizeGroup="piesGroup"
            [size]="{ width: 500, height: 500 }"
          >
            <dxi-series argumentField="Age" valueField="Amount">
              <dxo-label [visible]="true" [customizeText]="customizeLabelText"  position="columns">
                <dxo-font [size]="12"></dxo-font>
                <dxo-connector [visible]="true" [width]="2"></dxo-connector>
              </dxo-label>
            </dxi-series>
            <dxo-legend
              verticalAlignment="bottom"
              horizontalAlignment="center"
              itemTextPosition="right"
              [rowCount]="1"
            >
            </dxo-legend>
            <dxo-tooltip
              [enabled]="true"
              [customizeTooltip]="customizePieTooltip"
            ></dxo-tooltip>
            <!-- <dxo-export [enabled]="true"></dxo-export> -->
          </dx-pie-chart>
        </div>

        <!-- 3rd content------end -->
      </div>
      <!-- Right panel content end -->
    </div>
  </div>
</div>
