<app-header
  class="layout-header"
  [title]="appInfo.title"
  [menuToggleEnabled]="true"
  (menuToggle)="menuOpened = !menuOpened"
></app-header>

<div class="layout-body">
  <!-- <dx-tabs
    #withText
    [width]="'auto'"
    [selectedIndex]="0"
    [rtlEnabled]="false"
    [scrollByContent]="false"
    [showNavButtons]="false"
    [dataSource]="tabs"
    [orientation]="orientation"
    stylingMode="primary"
    iconPosition="start"
    (onSelectionChanged)="onTabChanged($event)"
  >
    ></dx-tabs
  > -->

  <div class="mt-1">
    <router-outlet> </router-outlet>
  </div>
</div>
