<!-- main card => 100vh scrollable start -->
<div class="dx-card dx-scroll-card cardtitle" id="submissionpage">
  <div *ngIf="!isLoggedIn2" class="d-flex align-items-center pe-5">
    <dx-button
      class="ms-auto me-1"
      icon="export"
      text="Export"
      type="default"
      [width]="'auto'"
      [visible]="vibleExportBtn"
      (onClick)="export()"
    >
    </dx-button>
  </div>

  <div class="dx-fieldset-header FieldHeader">Submission Summary</div>

  <!-- 1st row =>  start -->
  <div class="parentDiv grid-container">
    <!-- Left panel content start-->
    <div class="left-panel">
      <div class="form formcenter" *ngIf="isLoggedIn2">
        <div class="indicators">
          <dx-load-indicator
            id="large-indicator"
            height="60"
            width="60"
          ></dx-load-indicator>
        </div>
      </div>

      <!-- 1st content------start -->
      <div class="" *ngIf="!isLoggedIn2">
        <dx-chart
          #chart
          id="chart"
          title="ReceiverWise "
          [dataSource]="dataSource"
          palette="soft"
          (onPointClick)="onPointClick($event)"
        >
          <dxi-series
            valueField="Amount"
            name="Receiver"
            color="#9bf6ff"
          ></dxi-series>
          <dxi-value-axis position="left">
            <dxo-title text="Amount"></dxo-title>
          </dxi-value-axis>
          <dxo-common-series-settings
            argumentField="ReceiverID"
            type="stackedBar"
          >
          </dxo-common-series-settings>
          <dxo-legend
            verticalAlignment="bottom"
            horizontalAlignment="center"
            itemTextPosition="top"
          >
          </dxo-legend>
          <!-- <dxo-export [enabled]="true"></dxo-export> -->
          <dxo-tooltip
            [enabled]="true"
            location="edge"
            [customizeTooltip]="customizeTooltipReceiver"
          >
          </dxo-tooltip>
        </dx-chart>
      </div>
      <!-- 1st content------end -->
    </div>
    <!-- Left panel content end-->

    <!-- Right panel content start-->

    <div class="right-panel">
      <div class="form formcenter" *ngIf="isLoggedIn2">
        <div class="indicators">
          <dx-load-indicator
            id="large-indicator"
            height="60"
            width="60"
          ></dx-load-indicator>
        </div>
      </div>

      <!-- 2nd content------start -->
      <div class="" *ngIf="!isLoggedIn2">
        <dx-chart
          #chart1
          id="chart1"
          [dataSource]="dataSource1"
          title="ClinicianWise"
          palette="soft"
          (onPointClick)="onPointClick_Second_Graph($event)"
        >
          <dxi-series
            valueField="Amount"
            name="Clinician"
            color="#f4a261"
          ></dxi-series>
          <dxi-value-axis position="left">
            <dxo-title text="Amount"></dxo-title>
          </dxi-value-axis>
          <dxo-common-series-settings
            argumentField="Clinician"
            type="stackedBar"
          >
          </dxo-common-series-settings>
          <dxo-legend
            verticalAlignment="bottom"
            horizontalAlignment="center"
            itemTextPosition="top"
          >
          </dxo-legend>
          <!-- <dxo-export [enabled]="true"></dxo-export> -->
          <dxo-tooltip
            [enabled]="true"
            location="edge"
            [customizeTooltip]="customizeTooltipClinician"
          >
          </dxo-tooltip>
        </dx-chart>
      </div>
      <!-- 2nd content------end -->
    </div>
    <!-- Right panel content end -->
  </div>
  <!-- 1st row =>  end-->
</div>

<!-- main card => 100vh scrollable end -->
